<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="B2BRouter Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">lib</directory>
        </include>
        <exclude>
            <directory>lib/B2BRouter/Exception</directory>
        </exclude>
    </coverage>

    <php>
        <env name="B2B_API_KEY" value="test_api_key_12345"/>
    </php>
</phpunit>
